body {
    font-family: 'Fira Sans', sans-serif;
    background: #eee;
}
a {
    text-decoration: none;
}
a:hover {
    color: #72e8ff;
}
h1:first-letter, h2:first-letter, span {
    color: #72e8ff;
}
header{
    background: #494949;
}
.logo {
    width: 62px;
}
.logo a {
    font-family: 'Alex Brush', cursive;
    text-transform: uppercase;
    font-size: 50px;
    color: #72e8ff;
    display: block;
}
.menu li, .language li {
    display: inline;
}
header, .home, .about, .portfolio, .contacts {
    border-bottom: 5px solid #72e8ff;
}
.content {
    background: #f2f2f2;
}
.slider img {
    width: 260px;
    height: 200px;
}
.socials__list li {
    display: inline;
}
.socials__list a:hover {
    color: red;
}
.socials__list img {
    width: 85px;
}
.footer__menu li {
    display: inline;
    font-size: 0;
}
.footer__menu img {
    width: 20px;
}